body { /* Background */
    margin: 0;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.397);
    position: relative;
}

#pepe {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 3, 3);
    font-size: 2em;
}

#txt2 { /* Name */
    font-family: 'Open Sans', sans-serif;
    font-size: 72px; /* initial size, should match the initialSize in your JavaScript code */
    transition: font-size 1s ease-in-out; /* makes the change in font size smooth */
    /* Add these styles for the typing animation */
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange; /* The cursor */
    animation: typing 1s steps(100, end), forwards, blink-caret .75s step-end infinite;
    max-width: 100%;
}
